@font-face {
    font-family: Zabars;
    src: url(assets/fonts/Zabars.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    position: relative;
}

html {
    font-size: 10px;
}

body {
    background: url(assets/img/desert.jpg);
    background-size: cover;
    background-position: top center;
}
header, main {
    display: flex;
    justify-content: center;
}

header {
    height: 10dvh;
}

main {
    height: auto;
    min-height: 90dvh;
}

.content {
    display: flex;
    width: 100%;
    max-width: 1920px;
    height: auto;
    min-height: 100%;
    justify-content: center;
    align-items: center;
}

h1 {
    font: 5.6rem Zabars
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: wait;
}

canvas {
    border-radius: 16px;
}

.menu-ctrl {
    background: #ffc000;
    padding: 16px;
    border-radius: 8px;
    margin-right: 32px;
}

.snd-ctrl {
    margin-right: 32px;
    bottom: 0;
    border: none;
    background: transparent;
}

.genaral-btns {
    display: flex;
    align-items: flex-end;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 32px;
}

.screen-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ffc000;
    font: 3.2rem Zabars;
    padding: 32px;
    border-radius: 16px;
    p{
        margin-bottom: 0.5rem;
    }
}

.close-btn {
    position: absolute;
    top: 32px;
    right: 32px;
    padding: 8px;
    background: red;
    border: none;
    border-radius: 50%;
    color: white;
    font-weight: bold;
}

.d-none {
    display: none;
}