@import url(./const.css);

button {
    cursor: pointer;
}

/* #region close-btn */
.btn-close {
    width: 2rem;
    height: 2rem;
    background: #c00000;
    color: white;
    border: none;
    border-radius: 50%;
    font-weight: bold;
}

.btn-close:hover {
    background: #e00000;
}
/* #endregion */

/* #region text-btn */
.btn-text {
    width: 80%;
    height: 80%;
    font-size: 2rem;
    background: var(--bg);
    border-radius: 8px;
}

.btn-text:hover {
    background: #ffd060;
}

#btn-run {
    grid-area: 4 / 1 / 5 / 5;
}

#btn-run:disabled {
    cursor: wait;
}

#btn-controls {
    grid-area: 4 / 5 / 5 / 9;
}

#btn-impressum {
    grid-area: 4 / 9 / 5 / 13;
}

/* #endregion */

/* #region Icon Button */
.btn-icon {
    background: transparent;
    border: none;
}

.btn-icon:focus {
    outline: none;
}

.snd-control {
    width: 2rem;
    height: 2rem;
    img {
        width: 100%;
        height: 100%;
    }
}

#btn-music {
    grid-area: 2 / 6 / 3 / 7;
}

#btn-sfx {
    grid-area: 2 / 7 / 3 / 8;
}

.btn-mob-ctrl {
    width: 4rem;
    height: 4rem;
    img {
        height: 4rem;
    }
    @media (max-height: 400px) {
        width: 3rem;
        height: 3rem;
        img {
            height: 3rem;
        }
    }
}

#btn-mob-left {
    grid-area: 4 / 2 / 5 / 3;
}

#btn-mob-right {
    grid-area: 4 / 4 / 5 / 5;
}

#btn-mob-jump {
    grid-area: 4 / 9 / 5 / 10;
}

#btn-mob-throw {
    grid-area: 4 / 11 / 5 / 12;
}

@media (min-height: 1600px) {
    .btn-text {
        font-size: 6rem;
        border-radius: 1.5rem;
    }

    .snd-control {
        width: 6rem;
        height: 6rem;
    }

    .btn-close {
        width: 6rem;
        height: 6rem;
        font-size: 4rem;
    }
}

@media (max-height: 450px) {
    .btn-text {
        font-size: 1rem;
    }

    .btn-mob-ctrl {
        width: 3rem;
        height: 3rem;
        img {
            height: 3rem;
        }
    }
}
/* #endregion */