:root {
    --bg: #ffc040;
}

.full-canvas {
    grid-area: 1 / 1 / 6 / 13;
}

.round {
    border-radius: 1rem;
    @media(min-height: 1600px) {
        border-radius: 3rem;
    }
}

.flex {
    display: flex;
}

.w-full {
    width: 100%;
}