@font-face {
    font-family: Cowboy;
    src: url(../fonts/Cowboys.ttf);
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: Roboto;
    font-weight: bold;
    src: url(../fonts/Roboto-Bold.ttf);
}

.font-cowboy {
    font-family: Cowboy;
}