@import url(./fonts.css);
@import url(./button.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, button {
    font: 16px Roboto;
}

body {
    background: url(../img/00_Background/bg.jpg);
}

.d-none {
    display: none;
}

header {
    height: 10dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    height: 90dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font: 3rem Cowboy;
    color: #c10000;
}

.canvas-container {
    width: 800px;
    height: 600px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto 80px 30px;
    place-items: center;
}

canvas {
    background: black;
    grid-area: 1 / 1 / 4 / 13;
}